ianzonja_aplikacija_2/ianzonja_aplikacija_2-war/src/conf/xml-resources/web-service-references/Meteo/wsdl/localhost_8084/ianzonja_aplikacija_1/Meteo.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><xs:schema xmlns:tns="http://servisi.aplikacija_1.foi.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://servisi.aplikacija_1.foi.org/">

<xs:element name="podaciUIntervalu" type="tns:podaciUIntervalu"/>

<xs:element name="podaciUIntervaluResponse" type="tns:podaciUIntervaluResponse"/>

<xs:element name="posljednjihNMeteoPodataka" type="tns:posljednjihNMeteoPodataka"/>

<xs:element name="posljednjihNMeteoPodatakaResponse" type="tns:posljednjihNMeteoPodatakaResponse"/>

<xs:element name="vezeciPodaciZaParkiraliste" type="tns:vezeciPodaciZaParkiraliste"/>

<xs:element name="vezeciPodaciZaParkiralisteResponse" type="tns:vezeciPodaciZaParkiralisteResponse"/>

<xs:element name="zadnjePreuzetiPodaci" type="tns:zadnjePreuzetiPodaci"/>

<xs:element name="zadnjePreuzetiPodaciResponse" type="tns:zadnjePreuzetiPodaciResponse"/>

<xs:complexType name="zadnjePreuzetiPodaci">
<xs:sequence>
<xs:element name="naziv" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="zadnjePreuzetiPodaciResponse">
<xs:sequence>
<xs:element name="return" type="tns:meteoPodaci" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="meteoPodaci">
<xs:sequence>
<xs:element name="cloudsName" type="xs:string" minOccurs="0"/>
<xs:element name="cloudsValue" type="xs:int"/>
<xs:element name="humidityUnit" type="xs:string" minOccurs="0"/>
<xs:element name="humidityValue" type="xs:float" minOccurs="0"/>
<xs:element name="lastUpdate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="precipitationMode" type="xs:string" minOccurs="0"/>
<xs:element name="precipitationUnit" type="xs:string" minOccurs="0"/>
<xs:element name="precipitationValue" type="xs:float" minOccurs="0"/>
<xs:element name="pressureUnit" type="xs:string" minOccurs="0"/>
<xs:element name="pressureValue" type="xs:float" minOccurs="0"/>
<xs:element name="sunRise" type="xs:dateTime" minOccurs="0"/>
<xs:element name="sunSet" type="xs:dateTime" minOccurs="0"/>
<xs:element name="temperatureMax" type="xs:float" minOccurs="0"/>
<xs:element name="temperatureMin" type="xs:float" minOccurs="0"/>
<xs:element name="temperatureUnit" type="xs:string" minOccurs="0"/>
<xs:element name="temperatureValue" type="xs:float" minOccurs="0"/>
<xs:element name="visibility" type="xs:string" minOccurs="0"/>
<xs:element name="weatherIcon" type="xs:string" minOccurs="0"/>
<xs:element name="weatherName" type="xs:string" minOccurs="0"/>
<xs:element name="weatherNumber" type="xs:int"/>
<xs:element name="weatherValue" type="xs:string" minOccurs="0"/>
<xs:element name="windDirectionCode" type="xs:string" minOccurs="0"/>
<xs:element name="windDirectionName" type="xs:string" minOccurs="0"/>
<xs:element name="windDirectionValue" type="xs:float" minOccurs="0"/>
<xs:element name="windSpeedName" type="xs:string" minOccurs="0"/>
<xs:element name="windSpeedValue" type="xs:float" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="podaciUIntervalu">
<xs:sequence>
<xs:element name="naziv" type="xs:string" minOccurs="0"/>
<xs:element name="od" type="xs:string" minOccurs="0"/>
<xs:element name="do" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="podaciUIntervaluResponse">
<xs:sequence>
<xs:element name="return" type="tns:meteoPodaci" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="posljednjihNMeteoPodataka">
<xs:sequence>
<xs:element name="naziv" type="xs:string" minOccurs="0"/>
<xs:element name="n" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="posljednjihNMeteoPodatakaResponse">
<xs:sequence>
<xs:element name="return" type="tns:meteoPodaci" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="vezeciPodaciZaParkiraliste">
<xs:sequence>
<xs:element name="naziv" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="vezeciPodaciZaParkiralisteResponse">
<xs:sequence>
<xs:element name="return" type="tns:meteoPodaci" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>