ianzonja_aplikacija_2/ianzonja_aplikacija_2-war/web/WEB-INF/wsdl/localhost_8084/ianzonja_aplikacija_1/Meteo.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servisi.aplikacija_1.foi.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servisi.aplikacija_1.foi.org/" name="Meteo">
<types>
<xsd:schema>
<xsd:import namespace="http://servisi.aplikacija_1.foi.org/" schemaLocation="http://localhost:8084/ianzonja_aplikacija_1/Meteo?xsd=1"/>
</xsd:schema>
</types>
<message name="zadnjePreuzetiPodaci">
<part name="parameters" element="tns:zadnjePreuzetiPodaci"/>
</message>
<message name="zadnjePreuzetiPodaciResponse">
<part name="parameters" element="tns:zadnjePreuzetiPodaciResponse"/>
</message>
<message name="posljednjihNMeteoPodataka">
<part name="parameters" element="tns:posljednjihNMeteoPodataka"/>
</message>
<message name="posljednjihNMeteoPodatakaResponse">
<part name="parameters" element="tns:posljednjihNMeteoPodatakaResponse"/>
</message>
<message name="vezeciPodaciZaParkiraliste">
<part name="parameters" element="tns:vezeciPodaciZaParkiraliste"/>
</message>
<message name="vezeciPodaciZaParkiralisteResponse">
<part name="parameters" element="tns:vezeciPodaciZaParkiralisteResponse"/>
</message>
<message name="podaciUIntervalu">
<part name="parameters" element="tns:podaciUIntervalu"/>
</message>
<message name="podaciUIntervaluResponse">
<part name="parameters" element="tns:podaciUIntervaluResponse"/>
</message>
<portType name="Meteo">
<operation name="zadnjePreuzetiPodaci">
<input wsam:Action="http://servisi.aplikacija_1.foi.org/Meteo/zadnjePreuzetiPodaciRequest" message="tns:zadnjePreuzetiPodaci"/>
<output wsam:Action="http://servisi.aplikacija_1.foi.org/Meteo/zadnjePreuzetiPodaciResponse" message="tns:zadnjePreuzetiPodaciResponse"/>
</operation>
<operation name="posljednjihNMeteoPodataka">
<input wsam:Action="http://servisi.aplikacija_1.foi.org/Meteo/posljednjihNMeteoPodatakaRequest" message="tns:posljednjihNMeteoPodataka"/>
<output wsam:Action="http://servisi.aplikacija_1.foi.org/Meteo/posljednjihNMeteoPodatakaResponse" message="tns:posljednjihNMeteoPodatakaResponse"/>
</operation>
<operation name="vezeciPodaciZaParkiraliste">
<input wsam:Action="http://servisi.aplikacija_1.foi.org/Meteo/vezeciPodaciZaParkiralisteRequest" message="tns:vezeciPodaciZaParkiraliste"/>
<output wsam:Action="http://servisi.aplikacija_1.foi.org/Meteo/vezeciPodaciZaParkiralisteResponse" message="tns:vezeciPodaciZaParkiralisteResponse"/>
</operation>
<operation name="podaciUIntervalu">
<input wsam:Action="http://servisi.aplikacija_1.foi.org/Meteo/podaciUIntervaluRequest" message="tns:podaciUIntervalu"/>
<output wsam:Action="http://servisi.aplikacija_1.foi.org/Meteo/podaciUIntervaluResponse" message="tns:podaciUIntervaluResponse"/>
</operation>
</portType>
<binding name="MeteoPortBinding" type="tns:Meteo">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="zadnjePreuzetiPodaci">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="posljednjihNMeteoPodataka">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="vezeciPodaciZaParkiraliste">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="podaciUIntervalu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Meteo">
<port name="MeteoPort" binding="tns:MeteoPortBinding">
<soap:address location="http://localhost:8084/ianzonja_aplikacija_1/Meteo"/>
</port>
</service>
</definitions>